// main: ../style.sass

.travel{
  display: flex;
  flex-direction: column;
  padding: 4%;
  &__conprol{
    margin: 0 4%;

    &_back{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 280px;
      &:hover{
        & .travel_icon{
          transition: .3s;
            transform: translateX(-10px);
        }
        & .travel_text{
          transition: .3s;
            transform: scale(1.01);
        }
      }
    }
  }
  &_icon{
    background: url(../static/img/arrow.png) no-repeat;
    width: 55px;
    height: 10px;
    display: block;
    cursor: pointer;
    transition: .3s;

  }
  &_text{
    color: #1599FC;
    text-transform: lowercase;
    transition: .3s;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
  }
  &__wrap{
    display: flex;
    flex-direction: column;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
      flex-direction: row;
    &-reverse{
      flex-direction: row-reverse;

    }
  }
  &_box {
    width: 50%;
  }
  &__content {
    width: 85%;
    margin: 0 auto;
    font-size: 19px;
    line-height: 1.7;
    &_title{
      font-size: 2vw;
      font-weight: 800;
      line-height: 1;
      width: 80%;
      margin: 40px 0;
    }
  }
  &_img{
    & img{
      width: 100%;
    }
  }
}


@media (max-width: 1550px){
  .travel__content {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.4;
    &_title{
      width: 100%;
    }
  }
}
@media (max-width: 1368px){
  .travel__content {
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.7;
    &_title{
      width: 100%;
    }
  }
}
@media (max-width: 1150px){
  .travel__content {
    width: 90%;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.7;
    &_title{
      width: 100%;
    }
  }
}
@media (max-width: 780px){
  .travel{
    margin-top: 80px;
    &__content{
      &_title{
        font-size: 22px;
        margin: 0 0 20px 0;
      }
    }
    &__row{
      flex-direction: column;
      margin: 40px 0 0 0;
      &-reverse{
        flex-direction: column;

      }
    }
    &_box {
    width: 100%;
    }
    &_img{
      width: 90%;
      margin: 20px auto ;
    }
  }

}
