<script src="/static/js/jquery-3.4.1.min.js" type="text/javascript" ></script>
<script src="/static/js/maskinput.js" type="text/javascript"></script>
<script src="/static/js/datepicker.min.js" type="text/javascript" ></script>
<script src="/static/js/slick.min.js" type="text/javascript"></script>
<script src="/static/js/lib/validation.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.fancybox.min.js" type="text/javascript"></script>
<script src="/static/js/ajax_form.js" type="text/javascript"></script>
<script src="/static/js/script.js" type="text/javascript"></script>
<script src="/static/js/order_bus.js" type="text/javascript"></script>
