{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <section class=" container ">
    <div class="    ">
      <div class="blog__header">
        <div class="container__header_title">{% trans "Блог" %}</div>
        <div class="container__header_subtitle">{% trans "Последние новости и полезная информация"%}</div>
      </div>
      <div class=" ">
        <div class="post_wrap">
          {% for post in posts %}
          <div class="post_car">
            <div class="post_img">
              <a href="{% url 'post_detail' post.pk %}">
              <img src="{{post.image.url}}" alt="" height="350">
              </a>
            </div>
            <div class="post__main">
                <a href="{% url 'post_detail' post.pk %}">
              <div class="post__main_title">{{post.title}}</div>
              <div class="post__main_text">{{post.content|safe|truncatechars:50}}</div>
              <div class="post__main_data">{{post.created}}</div>
              </a>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}